<div class="pos-f-t fixed-top">

    <nav class="navbar  navbar-dark bg-dark d-flex ">
        <div class="px-1">
            <!-- <button class="navbar-toggler" type="button" 
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        </div>
        <div class="px-1 ">
            <a class="navbar-brand" routerLink="/panel-dashboard"><span class="font-weight-normal">Open Read Panel</span>
            </a>
        </div>
        <div class="mr-auto">
           
        </div>        

    </nav>    
    <mat-progress-bar mode="indeterminate" *ngIf="loading" color = "warn"></mat-progress-bar>
</div>