<div class="container p-1">
    <div *ngIf="paginatedData  != undefined">
        <div class="row py-3 m-1 d-block text-center">
            <div>
                <h4 class="text-center">TABLE : {{tableMetaData.tableApiName}} &nbsp;
                    <!-- <button *ngIf="tableMetaData?.create?.enabled" type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#createModal" (click)="openCreateModalBtnClick()">
                        Create
                    </button> -->
                </h4>
                <!-- Button trigger modal -->
            </div>
        </div>
        <div class="row pt-3 m-1">
            <div *ngFor="let item of searchObject | keyvalue  let index = index; trackBy: trackByFn">
                <div >                    
                    <div class="col"><b>{{item.key}}</b></div>
                    <div class="col">
                        <mat-form-field>
                            <input class="d-none" #myselect value="{{item.key}}" />
                            <input matInput placeholder="{{item.key}}" [(ngModel)]="searchObject[myselect.value]">
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </div>
        <div class="row py-1 m-1 text-center d-block">
            <button type="button" class="btn btn-primary" (click)="searchBtnClick()">Search</button>
        </div>
        <div class="row py-1 m-1">
            <div class="col">
                <mat-form-field class="w-100">
                    <input matInput (keyup)="applyFilter($any($event.target).value)"
                        [placeholder]="tableMetaData.serverPaginationEnabled ? 'Search (Only the data from the current page would be searched)' : 'Search'">
                </mat-form-field>
            </div>
        </div>
        <div  class="row py-1 m-1 text-elft d-block">
            <button type="button" class="btn btn-primary"
                [innerHTML]="tableMetaData.serverPaginationEnabled ? 'Export Current Page' : 'Export Data'"
                (click)="export()">
            </button>
        </div>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table-hover">
            <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

            <ng-container *ngFor='let column of displayedColumns;' matColumnDef='{{column}}'>
                <!-- <div *ngIf="tableMetaData.tableColumn.length == 0 || canShowTableField(column)"> -->
                    <th mat-header-cell *matHeaderCellDef class="table-header"> {{column | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="">
                        <span >{{
                            element[column]
                            | jsonBeautify }}</span>
                    </td>
                <!-- </div> -->
            </ng-container>                     
            <div >
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </div>
        </table>
    </div>
    <mat-paginator [length]="paginatedData?.totalElements" (page)="onPageChange($event)"
        [pageSizeOptions]="[5, 10, 20,50]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

    <!-- Modal -->
    <!-- <div class="modal fade" id="createModal" #createModalRef tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row pt-3 m-1">
                        <div *ngFor="let item of createObject | keyvalue  let index = index; trackBy: trackByFn">
                            <div *ngIf="isEditable(item.key)">
                                <div class="col"><b>{{item.key}}</b></div>
                                <div class="col">
                                    <mat-form-field>
                                        <input class="d-none" #myselect value="{{item.key}}" />
                                        <input matInput placeholder="{{item.key}}"
                                            [(ngModel)]="createObject[myselect.value]">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createBtnClick()">Create</button>
                </div>
            </div>
        </div>
    </div> -->
</div>